<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- General Settings -->
    <meta charset="UTF-8" />
    <meta http-equiv="content-language" content="en-us">
    <meta href="{global.baseUrl}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Meta tags -->
    <title> {head.title} | {global.appName} </title>
    <meta name="description" content="{head.description}">

    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <script type="text/javascript" charset="utf-8" src="public/app.js"> </script>
    <link rel="stylesheet" type="text/css" href="public/app.css" />
  </head>
  <body class="{body.class}">
    <!-- Page wrapper -->
    <div class="wrapper">
      <!-- Header -->
      <div class="header">
          <!-- Logo -->
          <a class="logo" href="/"></a>
          <!-- Navigation goes here -->
          <ul class="menu">
              <li><a href="/">Home</a></li>
              <li><a href="/" class="LoggedOut">Signup</a></li>
              <li><a href="/" class="LoggedOut">Login</a></li>
              <li><a href="/" class="LoggedIn">Dashboard</a></li>
              <li><a href="/" class="LoggedIn">Account Settings</a></li>
              <li><a href="/" class="LoggedIn">Logout</a></li>
          </ul>
      </div>
      <!-- Page-Specific Content -->
      <div class="content">